body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #854ef3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("Images/Background GIF.webp");
  background-size: cover;
}

.profile {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 20px 100px rgba(0, 0, 0, 1);
}

.background-container {
  position: relative;
  height: 100vh;
  width: 400px;
  overflow: hidden;
  top: 20%;
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.avatar {
  width: 30%;
  height: 30%;
  border: 6px solid #854ef3;
  border-radius: 50%;
}

h1 {
  color: #854ef3;
}

button {
  appearance: button;
  background-color: #854ef3;
  border: solid transparent;
  border-radius: 20px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  width: 120px;
  padding: 15px;
  margin: 10px;
  line-height: 20px; 
  text-align: center;
  overflow: hidden;  
}

button:hover {
  background-color: #aa55ee;
}
